div.boxed {
    /* border: 2px dashed green; */
    text-align: center;
}

div.boxed h2 {
    align-content: center;
    text-align: center;
}

div.boxed div.outline-3 {
    display: inline-block;
    width: 30%;
    min-width: 275px;
    padding: 0px 0px 0px 0px;
    margin: 0px 1% 0px 1%;
    vertical-align: top;
    /* border: 2px dashed red; */
}

div.boxed div.outline-3 h3 {
    font: 1.5em "Hack" , monospace;
    background-color: var(--black1);
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 7px 7px 0 0;
    border-bottom: none;
}

div.boxed div.outline-3 div.outline-text-3 {
    font: 1em "JetBrainsMono Nerd Font" , monospace;
    background-color: #000;
    margin: 0 0 50px 0;
    padding: 2px 5px 9px 5px;
    text-align: center;
    height: 150px;
    border-radius: 0 0 7px 7px;
}

@media screen and (max-width: 1320px) {
    div.boxed div.outline-3 {
        width: 45%;
        vertical-align: top;
    }
}

@media screen and (max-width: 720px) {
    div.boxed div.outline-3 {
        width: 70%;
        vertical-align: top;
    }
}
