@import "./stylesheets/nav.css";
@import "./stylesheets/boxed.css";

:root {
--foreground:   #d4d4d4;
--background:   #1e1e1e;
--cursorcolor:  #c5c8c6;
--black0:       #1e1e1e;
--black1:       #303030;
--red:          #f44747;
--green:        #608b4e;
--yellow:       #d7ba7d;
--blue:         #569cd6;
--magenta:      #c586c0;
--cyan:         #9cdcfe;
--white:        #d4d4d4;
}

html,body,div,span,ul,li,footer,header{
margin:0;
padding:0;
border:0;
font-family: "Hack", monospace;
vertical-align:baseline
}

ol,ul{
list-style:none
}

a{
color: var(--blue);
text-decoration: none;
}

a:hover{
color: var(--blue);
text-decoration: underline;
}

body,input,select,textarea {
color:var(--foreground);
background-color: var(--background);
font-family: "Hack", monospace;
font-size:12pt;
font-weight:100;
line-height:1.50em
}

ol li{
padding-left:0.25em
}

ul{
list-style:disc;
padding-left:1em
}

ul li{
padding-left:0.5em;
}

.title{
color: #fff;
cursor:default;
background-color:var(--foreground);
margin-left: 30px;
}

.content{
width: 70%;
margin: auto;
min-width: 961px;
}

@media screen and (max-width: 1130px) {
    .content {
        width: 85%;
        min-width: 870px;
    }
}

@media screen and (max-width: 870px) {
    .content {
        width: 100%;
        min-width: 0px;
    }
}

.outline-2{
padding: 10px;
}

h2{
color: var(--magenta);
font-size: 200%;
line-height: 1.2em;
}

h3{
color: var(--blue);
font-size: 180%;
line-height: 1.2em;
}

code {
color: var(--yellow);
background-color: var(--black1);
border-radius: 0.2em;
padding: 2px;
}

pre.src {
padding: 10px 0 10px 20px;
border-left: 5px solid var(--green);
border-radius: 0 10px 10px 0;
background: var(--black1);
white-space: pre-wrap;       /* Since CSS 2.1 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
width: 100%;
margin: auto;
}

