.nav {
    position: sticky;
    top: 0;
    border-bottom: 5px solid var(--yellow);
    background: #1e1e1e;
    padding: 15px 20px 5px 20px;
    text-align: right;
}

.nav a {
    padding: 15px 10px 3px 10px;
    text-decoration: none;
    color: var(--foreground);
    font-size: 1.1em;
    margin: 0px 4px 0px 4px;
}

.nav a.current {
    color: var(--background);
    font-weight: bold;
    /* background: linear-gradient(var(--black1) 0%, var(--background) 100%);; */
    background-color: var(--yellow);
    border-bottom: 5px solid var(--yellow);
}

.nav a.menuicon {
    display: none;
}

@media screen and (max-width: 720px) {
    .nav a {
        display: none;
    }

    .nav.responsive {
      padding-bottom: 0px;
    }

    .nav.responsive a {
        display: block;
        float: none;
        text-align: left;
        padding: 10px 0px 10px 0px;
    }

    .nav.responsive a.current {
      color: var(--background);
        background: var(--yellow);
        margin: 0px -20px 0px -20px;
        padding: 10px 20px 10px 20px;
        border: none;
    }

    .nav a.menuicon {
        display: inline-block;
        padding: 0px 10px 0px 10px;
    }
    .nav.responsive a.menuicon {
        margin-bottom: 10px;
    }
}
